@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$shadow-color:#7C1824;
// $shadow-color:rgb(191, 147, 118);
$dark:#453427;
$secondary:#715645;
$light:#FCF2CA;
$danger:#7C1824;
$theme-colors: (
  "primary": #eab988,
  "dark": $dark,
  "secondary": $secondary,
  "light":$light,
  "danger":$danger,
  );
  $box-shadow: 0 .5rem 1rem rgba($shadow-color, .5) !default;
  $box-shadow-lg: 0 1rem 3rem rgba($shadow-color, .5) !default;
  @import "../vendors/bootstrap4/scss/bootstrap";

  body{
    font-family: 'Poppins', sans-serif;
    color: $dark!important;
    position: relative;
  }
  nav.navbar {
    .navbar-brand{
      font-family: 'Poppins', sans-serif;
      // font-family: 'Pacifico', cursive;
    }
    .navbar-brand,.nav-link.active{
      color: $light!important;
    }
    .nav-link{
      color: $secondary;
    }
  }
  main{
    min-height: 100vh;
  }
  iframe{
    width: 100%;
    min-height: 350px;
  }
  section,footer:not(.blockquote-footer){
    padding: 1rem 0;
  }
  footer:not(.blockquote-footer){
    background-color: $secondary;
    width: 100%;
    text-align: center;
    color: $light;
  }
  hr.rounded {
    border-top: 8px solid $secondary;
    border-radius: 5px;
    margin:0;
    margin-top:1rem;
  }
  hr.dashed {
    border-top: 3px dashed $secondary;
  }
  a{
    color: $dark;
  }
  .fixed-navbar{
    position: relative;
    min-height: 56px;
  }
.jumbotron{
  background: url(../img/batik.jpg);
  background-size: cover;
}
  .jumbotron .img-fluid{
    max-width: 300px;
  }
  #info ul{
    list-style-type: none;
    padding: 0;
  }
  .carousel-control-prev,.carousel-control-next{
    border: none;
    background: transparent;
    color: $secondary;
  }
  #testimoni .carousel .row{
    height: 450px;
  }
  #galeri img{
    margin-bottom: 1rem;
  }

  @include media-breakpoint-up(lg) { 
    #info .card{
      min-height: 236px;
      margin-bottom: 2rem!important;
    }
    #testimoni .carousel .row{
      height: 300px;
    }
   }